body {
  background-color: black;
}

#container {
	background-color: white;
	height: 500px;
	margin-top: 8.5%;
}

img {
	margin-left: 8%;
}

#fireball {
	margin-bottom: 18%;
	margin-left: -16%;
}

#container h2 {
	right: 0;
	position: absolute;
	margin-top: -90px;
}

#container .seperate {
	margin-top: -50px;
	right: 0;
}